---
layout: archive
permalink: /tags/
title: "Posts by Tags"
author_profile: true
---

{% include base_path %}
{% include group-by-array collection=site.posts field="tags" %}

{% assign sorted_tags = site.tags | sort %}
<ul class="tag-box">
	{% for tag in sorted_tags %}
		{% assign t = tag | first %}
		{% assign posts = tag | last %}
		<li><a href="#{{ t | downcase }}">{{ t }} <span class="size">({{ posts.size }})</span></a></li>
	{% endfor %}
</ul>

{% for tag in sorted_tags %}
  {% assign t = tag | first %}
  {% assign posts = tag | last %}

<h3 id="{{ t | downcase }}">{{ t }}</h3>
<ul>
    {% for post in posts %}
    {% if post.tags contains t %}
        <li>
        <span class="date">{{ post.date | date: '%B %d, %Y' }}</span>:  <a href="{{ post.url }}">{{ post.title }}</a>
        </li>
    {% endif %}
    {% endfor %}
</ul>
{% endfor %}