a:link,
a:visited {
  text-decoration: none;
  color: #065388;
}

a:hover {
  color: #990000;
}

a.current:link,
a.current:visited {
  color: #111111;
  font-weight: bold;
}

img {
  border-top-width: medium;
  border-top-style: none;
  border-top-color: initial;
  border-top-color: -moz-initial;
  border-right-width: medium;
  border-right-style: none;
  border-right-color: initial;
  border-right-color: -moz-initial;
  border-bottom-width: medium;
  border-bottom-style: none;
  border-bottom-color: initial;
  border-bottom-color: -moz-initial;
  border-left-width: medium;
  border-left-style: none;
  border-left-color: initial;
  border-left-color: -moz-initial;
}

body {
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  background-color: #b3b3b34b;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 0% 0%;
  color: #333333;
  height: 100%;
}

table, th, td {
  border: 1px solid black;
  padding: 15px;
}

th {
  font-size: 22px;
}

td {
  font-size: 18px;
}

#repo {
  font-size: 10px;
}

#pub_title {
  font-family: Arial;
}

#pub_ref {
  font-family: Arial;
  margin-bottom: 5px;
}

#container {
  width: 960px;
  margin-top: auto;
  margin-right: auto;
  margin-bottom: auto;
  margin-left: auto;
  font-size: 14px;
  position: relative;
}

#wrapper {
  border-top-width: 8px;
  border-top-style: solid;
  border-top-color: #fbf7e5;
  border-right-width: 8px;
  border-right-style: solid;
  border-right-color: #fbf7e5;
  border-bottom-width: 8px;
  border-bottom-style: solid;
  border-bottom-color: #fbf7e5;
  border-left-width: 8px;
  border-left-style: solid;
  border-left-color: #fbf7e5;
  margin-top: 40px;
  margin-right: 0px;
  margin-bottom: 40px;
  margin-left: 0px;
  overflow: hidden;
}

#banner {
  color: white;
  background-color: #5ba884;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  font-family: Georgia;
  padding-top: 10px;
  padding-right: 15px;
  padding-bottom: 10px;
  padding-left: 15px;
}

h1 {
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  font-size: 36px;
  font-weight: normal;
}

#banner p {
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  -epub-text-transform: uppercase;
  text-transform: uppercase;
  font-size: 14px;
  text-shadow: 0px 0px 10px #111111;
}

#nav {
  overflow: hidden;
  background-color: #c1cae4;
  width: 960px;
  font-family: Arial;
}

#nav ul {
  list-style-type: none;
  list-style-position: outside;
  list-style-image: none;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#nav ul li {
  display: block;
  float: left;
  list-style-type: none;
  list-style-position: outside;
  list-style-image: none;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#nav ul li a {
  display: block;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 1px;
  padding-top: 3px;
  padding-right: 15px;
  padding-bottom: 3px;
  padding-left: 15px;
  color: #333333;
  text-decoration: none;
  line-height: 36px;
  font-size: 18px;
}

#nav ul li a:hover {
  color: white;
}

#page {
  background-color: #eae4d0;
  overflow: auto;
  padding-top: 15px;
  padding-right: 0px;
  padding-bottom: 15px;
  padding-left: 0px;
  clear: both;
}

#sidebar {
  min-width: 210px;
  margin-top: 0px;
  margin-right: 15px;
  margin-bottom: 0px;
  margin-left: 15px;
  float: right;
  line-height: 140%;
  background-color: #e5c19f;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #fbf7e5;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #fbf7e5;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #fbf7e5;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #fbf7e5;
}

#sidebar h3,
#sidebar p {
  padding-top: 0px;
  padding-right: 10px;
  padding-bottom: 0px;
  padding-left: 10px;
}

#content {
  margin-left: 15px;
  margin-right: 15px;
  line-height: 160%;
  -webkit-border-radius: 5px 5px 5px 5px / 0px 0px 0px 0px;
  border-radius: 5px 5px 5px 5px / 0px 0px 0px 0px;
}

#caption {
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  line-height: 100%;
  font-size: 11px;
}

#content h1 {
  font-size: 20pt;
  font-weight: bold;
  color: #003366;
  letter-spacing: 1px;
  margin-top: 25px;
  margin-right: 0px;
  margin-bottom: 15px;
  margin-left: 0px;
  font-family: Arial;
}

#content h2 {
  font-size: 16pt;
  color: #000000;
  letter-spacing: 1px;
  margin-top: 15px;
  margin-right: 0px;
  margin-bottom: 5px;
  margin-left: 0px;
}

#footer {
  padding-top: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
  overflow: auto;
  color: white;
  font-size: 90%;
  text-align: right;
}

#footer img {
  float: left;
  margin-right: 15px;
}

h2 {
  margin-top: 0px;
  color: #494949;
  font-weight: normal;
  font-size: 200%;
  font-family: Arial;
}

.right {
  float: right;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 15px;
  margin-left: 15px;
}

.left {
  float: left;
  margin-top: 0px;
  margin-right: 15px;
  margin-bottom: 15px;
  margin-left: 0px;
}

#contentbar {
  width: 210px;
  margin-top: 0px;
  margin-right: 15px;
  margin-bottom: 0px;
  margin-left: 0px;
  float: left;
  line-height: 140%;
  background-color: #cbc3a5;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #fbf7e5;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #fbf7e5;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #fbf7e5;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #fbf7e5;
}

#contentbar h3,
#contentbar p {
  padding-top: 0px;
  padding-right: 10px;
  padding-bottom: 0px;
  padding-left: 10px;
}

#fac_photo {
  margin-left: auto;
  margin-right: auto;
  display: block;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
}

#banner p {
  padding-left: 1em;
}

.contentbar2 {
  display: none;
}