html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: 'Droid Sans', sans-serif;
  background: #4ec0ee;
  font-size: 14px;
  line-height: 21px;
}

.container {
  width: 960px;
  margin: 20px auto;
}

@media only screen and (min-width: 768px) and (max-width: 1000px) {
  .container {
    width: 768px;
  }
}

@media only screen and (max-width: 767px) {
  .container {
    width: 420px;
  }
}

@media only screen and (max-width: 480px) {
  .container {
    width: 300px;
  }
}

a img {
  border: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

h1 {
  font-size: 26px;
  line-height: 32px;
}

p,
ul {
  margin-bottom: 10px;
}

/* icon size in hover */
img {
  width: 400px;
  height: 400px;
}


.jsmaps-tooltips{
  background-color: red;
}