doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    title default page
    link(rel="stylesheet" href="../nav_bar.css")
  body
    .nav
      a.about(href="../about-me/index.html") About Me
      a.physics(href="../physics/index.html") Physics
      a.tech(href="../tech/index.html") Technology
      a.nthu(href="http://www.nthu.edu.tw/",target="_blank") NTHU

    h1 Physics