html{
    width: 100%;
    height: 100%;
    background: url("../images/back2.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

body {
   width: 100%;
   height: 100%;
   background: url("../images/back2.jpg");
   background-attachment: fixed;
   background-repeat: no-repeat;
   background-size: cover;
}

#background-fg{
  background-color: rgba(221, 209, 61, 0.2);
}

#banner {
    height: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    background-position: center;
    background-image: url("../images/titleImg.jpg");
    background-attachment: fixed;
}

@media (max-width: 575px){
    #banner{
        background-attachment: scroll;
    }
}

#banner-fg {
    height: 100%;
    text-align: center;
    background-color: rgba(125, 125, 125, 0.3);
}

.banner-text {
    text-shadow: 0 0 0.2rem rgba(0, 0, 0, 0.3), 0 0 1rem rgba(0, 0, 0, 0.7);
    color: #fff;
}


.logo-first {
    color: rgb(90, 199, 94);
    font-weight: bold;
}

.logo-last {
    color: rgb(71, 190, 214);
    font-weight: bold;
}

.navbar-offset {
    margin-top: -5rem;
    padding-top: 5rem;
}

section {
    margin-top: 4rem;
}

section h2 {
    margin-bottom: 2rem;
}

#feature~.row {
    margin-bottom: 3rem;
}

.card {
    margin-top: 1rem;
}

.rotate-20 {
    -ms-transform: rotate(20deg);
    /* IE 9 */
    -webkit-transform: rotate(20deg);
    /* Safari */
    transform: rotate(20deg);
}

.rotate-340 {
    -ms-transform: rotate(340deg);
    /* IE 9 */
    -webkit-transform: rotate(340deg);
    /* Safari */
    transform: rotate(340deg);
}

.rotate-350 {
    -ms-transform: rotate(350deg);
    /* IE 9 */
    -webkit-transform: rotate(350deg);
    /* Safari */
    transform: rotate(350deg);
}

.seal {
    border: 3px solid #0275d8;
    border-radius: .3rem;
}

#footer {
    margin-top: 3rem;
    background-color: #f7f7f7;
    padding-top: 1rem;
    padding-bottom: 2rem;
    color: gray;
}

#hyperlinkHidden{
  background: linear-gradient(to right, #DAE2F8 0%, #D6A4A4 51%, #DAE2F8 100%);
  border-radius: 3rem;
  padding: 1rem;
  color: white;
	/* filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#33a6cc', endColorstr='#0099cc',GradientType=0 ); /* IE6-9 */
  transition-property: background;
  transition-duration: 3s;
  text-decoration:none;
}

#hyperlinkHidden:hover{
  /* background-position: right center; */
  background: linear-gradient(to right, #D6A4A4 0%, #DAE2F8 51%, #D6A4A4 100%);
  transition-property: background;
  transition-duration: 3s;
  /* background: rgb(206, 201, 208); */
}


.btn-grad {
  background-image: linear-gradient(to right, #16A085 0%, #F4D03F 51%, #16A085 100%);
  border-radius: 3rem;
  padding: 1rem;
  color: white;
  text-decoration:none;
}
.btn-grad:hover { background-position: right center; }


iframe {
    position: relative;
    top: 3.5rem;
}