body {
  margin: 0px;
  margin-top: 20px;
}

.nav {
  border: solid 1px;
  width: 100%;
  position: relative;
  height: 50px;
}

.about, .physics, .tech, .nthu {
  cursor: pointer;
  width: 100px;
  height: 100%;
  display: inline-block;
  text-align: center;
  border: solid 1px;
  line-height: 50px;
}
